@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --main-color: #125B50;
  --sec-color: #F8B400;
  --blue-color: #4282fe;
}
body{font-family: 'Rubik', sans-serif; overflow-x: hidden;}
body.nav-expanded{overflow: hidden;}
.content--center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.ft--14{font-size: 14px;}
.ft--15{font-size: 15px;}
.ft--16{font-size: 16px;}
.ft--18{font-size: 18px;}
.ft--20{font-size: 20px;}
.ft--30{font-size: 30px;}
.dis-none{display: none;}

.site-link{
  color: black;
  text-decoration: none;
  transition: .3s;
}
.site-link:hover{
  color: var(--sec-color);
}

.fade-in{
  transform: translateY(50px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.fade-in.appeared{
  transform: translateY(0);
  opacity: 1;
}

/* Loading Screen Start */
.loading-screen{
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.loading-outer-circle,
.loading-inner-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.loading-outer-circle{
  width: 100px;
  height: 100px;
  border-left: 4px solid black;
  animation-name: first;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading-inner-circle{
  width: 75px;
  height: 75px;
  border-right: 4px solid black;
  animation-name: second;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes first{
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes second{
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
/* Loading Screen End */

/*Nav Start*/
nav {
  z-index: 100;
  transition: .3s;
  position: fixed;
  top: 0;
}

.nav-down {
  background-color: black;
  box-shadow: 1px 1px 13px 1px;
}

.logo-cont { width: 200px; }

.profile-icon { 
  font-size: 33px; 
  color: white; 
  transition: .3s;
  cursor: pointer;
}
.profile-icon:hover { 
  color: var(--sec-color); 
}

.profile-cont {
  position: absolute;
  top: 50.92px;
  right: 0;
  width: auto;
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: .3s;
}
.profile-list{
  padding: 20px 29px;
}

.profile-list li{white-space: nowrap;}
.log-out{cursor: pointer; transition: .3s;}
.log-out:hover{color: #ca9400;}


.nav-items-cont{
  transition: .2s;
}

.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a, .nav-item {
  text-decoration: none;
  color: white;
  transition: .2s;
  font-size: 18px;
}

@media (min-width: 769px) and (max-width:991px){
  .nav-items-cont{
    margin: 10px 20px;
  }
}

.black-cover {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.side-nav-btn-cont{
  cursor: pointer;
  height: 30px;
  display: none;
}

.side-nav-btn,
.side-nav-btn:before,
.side-nav-btn:after{
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: .3s;
}

.side-nav-btn{
  position: relative;
}

.side-nav-btn:before,
.side-nav-btn:after{
  content: "";
  position: absolute;
}

.side-nav-btn:after{top: 10px;}
.side-nav-btn:before{bottom: 10px;}
.side-nav-btn.active{
  transform: rotate(45deg);
}
.side-nav-btn.active:after{top: 0;}
.side-nav-btn.active:before{
  bottom: 0;
  transform: rotate(90deg);
}

.side-bar-logo{
  display: none;
}
/*Nav End*/


/*Main Slider Start*/
main{
  height: 100vh;
  overflow: hidden;
}

main .main-img {
  object-fit: cover;
  height: 100%;
}

main .main-img-cont{ height: 100%; overflow: hidden; width: 100vw;}

main .main-carousel-item{ display: none; }


main .main-carousel-item.active{ display: block; }

main .carousel-buttons { color: white; }

main .carousel-content{
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .navigation-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 0;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
main .next-btn, .prev-btn{
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main .next-btn{right: 50px;}
main .prev-btn{left: 50px;}

.slide-text{
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.slide-text .slide-title{
  font-size: 60px;
  transition: .4s;
}
.slide-text .slide-description{
  font-size: 20px;
  animation-delay: .3s;
}
.slide-text .slide-buttons{
  animation-delay: .6s;
}
.slide-text.active{
  display: flex;
}
/*Main Slider End*/

.description-text{
  color: #949594;
  font-size: 18px;
}
.site-sec{
  padding: 100px 0;
}

.card{border-radius: 15px;}

/*why section start*/
.why{
  background-color: #f6f7f6;
}
.why-card{
  border-radius: 15px;
  padding: 30px;
  background-color: white;
  transition: .5s;
  height: 100%;
  box-shadow: 0px 0px 9px -7px black;
}

.why-card-icon{
  background-color: #f64961;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 45px;
  color: white;
  margin: auto;
  position: relative;
}

.why-card-icon:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 3px white solid; 
  transition: .3s; 
  opacity: 0;
  border-radius: 50%;
}

.why-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 0px 21px -14px black;
}

.why-card:hover .why-card-icon:after{
  opacity: 1;
  width: 95%;
  height: 95%;
}
/*why section end*/

/*Popular categories start*/
.popular-categories{
  background-color: #fefffe;
}
.popular-categories-card{
  color: white;
  padding: 25px;
  font-size: 35px;
  border-radius: 5px;
  margin-top: 15px;
  transition: .3s;
}
.popular-categories-card p{
  font-size: 18px;
  margin: 5px 0 0;
}

.popular-categories-card:hover{
  transform: scale(1.02, 1.02);
  box-shadow: 0px 0px 17px -9px black;
}
/*Popular categories end*/

/*Courses Section Start*/
.courses{
  background-color: #f6f7f6;
}
.star {
  fill: #ccc;
}
.star.filled {
  fill: var(--sec-color);
}

.course-card{
  box-shadow: 0px 0px 21px -14px black;
  transition: .5s;
}

.courses-cont img{
  object-fit: cover;
  height: 200px
}

.course-card:hover{
  transform: translateY(-10px);
}

.courses-btn{
  padding: 15px 30px;
  border: none;
  background-color: var(--sec-color);
  color: white;
  font-size: 20px;
  transition: .3s;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;

}
.courses-btn:hover{
  background-color: #ca9400;
  color: white;
}
/*Courses Section End*/

/*Counter Section Start*/
.counters{
  background-color: #4282fe;
  background-image: url(../assets/images/pattern_bg4.png);
  background-attachment: fixed;
}

.counters .counter-icon{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, .5);
  outline: 6px solid rgba(255, 255, 255, .2);
  margin-bottom: 10px;
  color: white;
  font-size: 40px;
}

.counters .counter-body, .counter-name{
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.counters .counter-name{
  font-size: 16px;
}

/*Counter Section End*/


/*Events Section Start*/
.events-cont img{
  object-fit: cover;
  height: 220px
}

.event-info{
  padding: 16px 0;
  font-size: 15px;
}

.event-time-cont{
  text-align: center;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 5px -2px black;
  border-radius: 5px;
  margin: 10px;
  line-height: 20px;
}

.event-date{
  background-color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.event-time{
  background-color: var(--sec-color);
  padding: 7px;
  border-radius: 0 0 5px 5px;
  color: white;
}
/*Events Section End*/

/*Video Section Start*/
.video-img-cont{
  object-fit: cover;
  background-image: url(../assets/images/video-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 420px;
}
.video-play-cont{
  background-color: rgba(0, 0, 0, .5);
}
.video-play{
  font-size: 30px;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  animation-name: play-up-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes play-up-down{
  0%{transform: translateY(-5px);}
  50%{transform: translateY(5px);}
  100%{transform: translateY(-5px);}
}
.video-modal-content{
  width: 800px;
  height: 451px;
}
.video-modal-content iframe{
  width: 100%;
  height: 100%;
}

.video-modal-dialog {
  max-width: fit-content;
}

.video-text-cont{
  background-color: var(--blue-color);
  color: white;
  padding: 30px;
}
/*Video Section End*/

/*Instructors Section Start*/
.instructors{
  background-color: #f6f6f7;
}
.instructor-social{
  font-size: 25px;
  background-color: rgba(0, 0, 0, .5);
}
.instructor-social{
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}
.instructor-image img{
  height: 261px;
  object-fit: cover;
  object-position: top center;
}
.instructor-image:hover .instructor-social{
  opacity: 1;
  visibility: visible;
}
.instructor-image:hover .instructor-social .social-icon{
  opacity: 1;
  transform: scale(1) translateY(0);
}
.social-icon{
  color: white;
  cursor: pointer;
  transition: .5s;
  transform: scale(0) translateY(200px);
  opacity: 0;
}
.social-icon:hover{
  color: var(--sec-color);
}
/*Instructors Section End*/

/*Footer Start*/
footer.site-sec{
  background-color: #353a41;
  padding: 30px 0;
  color: white;
  padding-bottom: 0;
} 

footer h6{
  margin-top: 15px;
  margin-bottom: 20px;
}

footer a{
  transition: .3s;
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: var(--sec-color);
}

.footer-logo{
  width: 200px;
}

.footer-link{
  transition: .3s;
}
.footer-link:hover{
  transform: translateX(7px);
}

.email-input{
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  width: 100%;
}

.email-button{
  background-color: var(--sec-color);
  height: 80%;
  margin: 5px 5px;
  right: 0;
  top: 0;
  border-radius: 20px;
  border: 0;
  padding: 0 10px;
  color: white;
  position: absolute;
}
.footer-bottom{
  background-color: #202325;
}

/*Footer End*/


@media (max-width:1400px){
  .popular-categories-card p{
    font-size: 17px;
  }
}
@media (max-width:991px){
  .slide-text .slide-title{
    font-size: 40px;
  }
  .slide-text .slide-description{
    font-size: 18px;
  }

  .video-modal-content{
    width: 100vw;
    height: calc(100vw*9/16);
  }
  .video-modal-dialog{margin: 0;}
}

@media (max-width: 768px){
  /*Main Slider media query end*/
  main{
    height: 60vh;
    margin-top: 63.92px;
  }
  .slide-text .slide-title{
    font-size: 30px;
  }
  .slide-text .slide-description{
    font-size: 15 px;
  }
  .carousel-buttons {
    display: none;
  }
  /*Main Slider media query end*/

  /*Nav Bar media query start*/
  nav{
    background-color: black;
  }
  .side-nav-btn-cont{
    display: flex;
  }
  .nav-items-cont{
    position: absolute;
    right: 0;
    top: 63.92px;
    width: 50%;
  }
  .nav-list{
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .nav-item{
    margin: 10px 20px;
    text-align: center;
    word-break: keep-all;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgb(148, 148, 148);
    font-size: 18px;
    color: black;
    height: fit-content;
  }
  .nav-item a{
    display: block;
    color: black;
    padding: 20px 0;
    width: 100%;
  }
  .nav-items-cont{
    height: 0;
    overflow: hidden;
    width: 100vw;
  }
  .nav-down a:hover {
    color: var(--main-color);
  }
  .side-bar-logo{
    display: block;
    max-width: 150px;
  }
  /*Nav Bar media query end*/

  .popular-categories-card p{
    font-size: 15px;
  }
}

@media (max-width: 500px){
  .slide-text .slide-title{
    font-size: 23px;
  }
  .slide-text .slide-description{
    font-size: 15px;
  }

  .site-sec{
    padding: 40px 0;
  }
}

/* Small cards Start*/
.small-card-img{
  width: 70px;
  height: 70px;
}
.small-card-img img{
  object-fit: cover;
  border-radius: 5px;
}
.card-title-hr{
  background-color: var(--sec-color);
  width: 100px;
  height: 4px;
  transform: translateY(-3px);
  border-radius: 2px;
}

/* Small cards End */

/* Course Page Start */
  /* Course Main Start */
  .course-main{
    background-image: url(../assets/images/video-bg.jpg);
    background-position: center;
    position: relative;
    padding: 164px 0 100px;
    color: white;
  }
  .course-main:before{
    content: '';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .course-main a:hover{
    color: var(--sec-color);
  }
  .course-main a{
    color: white;
    text-decoration: none;
    transition: .3s;
  }
  .main-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  /* Course Main End */

  /* Course Details Start */
  .single-course-content{
    background-color: #fef3cc;
    padding: 25px;
  }
  .single-course-image img{
    min-height: 200px;
    object-fit: cover;
  }
  .single-course-instructor-img{
    width: 50px;
    height: 50px;
  }
  .single-course-instructor-img img{
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
  }
  .single-course-details .detail{
    border-right: 1px #b4b4b4 solid;
    padding: 0 20px;
  }

  .single-course-details .detail:last-child{
    border: 0;
  }
  .course-details .related-courses .courses-cont img{
    object-fit: cover;
    height: 260px;
  }
  /* Course Details End */

  /* Tags Start */
  .tags .tag{
    border: 1px solid #cacaca;
    padding: 7px 15px;
    border-radius: 3px;
  }
  /* Tags End */

  @media (max-width: 768px){
    .single-course-text{
      font-size:15px
    }
    .single-course-image, 
    .single-course-image button{
      font-size: 13px;
    }
    .single-course-content{
      padding: 15px;
    }
    .single-course-details .detail{
      border-right: 0;
      margin: 20px 0;
    }
    .single-course-details > div:last-child{
      margin-bottom: 10px;
    }
    .main-text{
      display: block;
      font-size: 15px;
    }
  }
/* Course Page End */

/* All courses Page Start*/
  .all-courses img{
    height: 300px;
  }

  .slides-naigation .navigation-btn{
    color: #a4a4a4;
    border: 1px solid #a4a4a4;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
  }

  .slides-naigation .navigation-btn.active{
    color: white;
    background-color: var(--sec-color);
    border: none;
  }

  .courses{
    transition: .6s;
    overflow: hidden;
  }
  .all-courses .courses-cont{
    overflow: hidden;
  }
/* All courses Page End */

/* Single Instructor Page Start */
  .single-instructor .instructor-img{
    height: 400px;
    object-fit: cover;
    object-position: top;
  }
  .contact-title{
    width: 82px;
    margin-right: 15px;
  }
  .exp-title, .exp-datails{
    border: 1px solid #d1d1d1;
    border-bottom: 0;
  }
  .instructor-experience{
    border-bottom: 1px solid #d1d1d1;
  }
  .exp-title{
    cursor: pointer;
  }
  .exp-datails{
    transition: .3s;
    padding: 24px;
    overflow: hidden;
  }
  .arrow, .inst{transition: .3s;}
  .inst{
    overflow: hidden;
  }
/* Single Instructor Page End */

/* Try front-end code editor Start */
.code-area-cont{
  height: 300px;
}
.code-area{
  height: 100%;
  resize: none;
}

.code-editor{
  margin-top: 63.92px;
  padding: 0;
  padding: 20px 0;
}

#code-output{
  border: 1px solid black;
  height: 900px;
}

.tab{
  width: fit-content;
}

.tab-btn.active{
  background-color:#202325;
  color: white;
}
/* Try front-end code editor End */

.tasks-sec{
  background-color: #f6f7f6;
}

.task-expand{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
  transition: .3s;
  font-size: 20px;
}

.course .course-details{
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
  cursor: pointer;
}
.course-details-title, .task-expand{
  margin: 16px 30px;
}

.tasks{
  overflow: hidden;
  transition: .3s;
  height: 0;
}

.task{
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 15px 25px;
  cursor: pointer;
}

.task-icon{
  width: 40px;
  height: 40px;
  padding: 13px;
  font-size: 22px;
}

@media (max-width: 768px){
  .course .course-details-title,
  .course .task-expand,
  .course .task-title{
    font-size: 15px;
  }
  .course-details-title, 
  .task-expand{
    margin: 10px 20px;
  }
}


.feedback .student-image{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.feedback-content{
  transition: .3s;
}

.feedback-content:hover{
  transform: scale(1.015, 1.015);
}


/* Contact Page */
.contact-form{
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, .15);
  border-radius: 15px;
  overflow: hidden;
}

.contact-form form{
  padding: 30px;
}


.contact-form textarea{
  height: 100px;
}

.contact-form .map{
  height:100%;
}

@media (max-width: 768px){
  .contact-form .map{
    height: 400px;
  }
  
}

/* Login Page */
.login-image{
  height: 100vh;
}
.login-image img{
  object-fit: contain;
}
.login-cont, .register-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.register-cont {
  display: none;
}